<div class="fields">
	<p>
	  <%= f.label :content, "Question" %>
	  <%= link_to_remove_fields "remove", f %><br />
	  <%= f.text_area :content, :rows => 3 %>
	</p>
	<%= f.fields_for :answers do |builder| %>
	  <%= render 'answer_fields', :f => builder %>
	<% end %>
</div>