<h1>Listing quizzes</h1>

<ol>
  <% @quizzes.each do |quiz| %>
    <div>
        <li><strong>Description:</strong><%= quiz.name %></li>
      <%= link_to 'Show', quiz %>
      <%= link_to 'Edit', edit_quiz_path(quiz) %>
      <%= link_to 'Destroy', quiz, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
    <br />
  <% end %>
</ol>


<br />

<%= link_to 'New Quiz', new_quiz_path %> |
<%= link_to 'Back', home_index_path %>