<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @quiz.name %>
</p>
<ol>
	<% @quiz.questions.each do |question| %>
		<li><%= question.content %></li>
		<ul>
		    <% question.answers.each do |answer| %>
		      <li><%= answer.content %></li>
		    <% end %>
		</ul>
	<% end %>
</ol>


<%= link_to 'Edit', edit_quiz_path(@quiz) %> |
<%= link_to 'Back', quizzes_path %>
